/* Global Styles */
* {
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f2f5;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* App Container */
.App {
  margin-top: 20px;
  max-width: 600px;
  width: 100vw;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Comment Container */
.commentContainer {
  margin-top: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.commentContainer:hover {
  background-color: #f9f9f9;
  transform: scale(1.02);
}

/* Input Container */
.inputContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.inputContainer > span {
  font-size: 14px;
  color: #666;
}

.inputContainer__input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s;
}

.inputContainer__input:focus {
  border-color: #011b38;
  outline: none;
}

/* Reply Button */
.reply {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 5px;
  color: #011b38;
  border: 1px solid #011b38;
  background-color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin-right: 10px; /* Space between buttons */
  transition: background-color 0.3s, color 0.3s;
}

.reply:hover {
  background-color: #011b38;
  color: #fff;
}

/* Comment Styling */
.comment {
  color: #ffffff;
  background-color: #011b38;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.5;
}
